@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');



*{
    margin: 0 ;
    padding: 0 ;
}
body{
    margin: 0 ;
    padding: 0;
    height : 100vh ;
    width: 100vw ;
    font-family: 'Amarante', cursive;
}
.main-container{
    width : 100vw !important ;
    height: 100vh !important;
    background: rgb(210,27,176);
    background: linear-gradient(90deg, rgba(210,27,176,1) 0%, rgba(45,2,130,1) 100%);
    box-sizing: border-box;
}
.main-header{
    width: 100%;
}
.main-header-inner{
   
    width: 80%;
    margin: auto;
}
.nav-bar{
     display: inline-block;
     list-style-type: none;
     position: relative ; 
      left : 30%;
     background: rgb(45,2,130);
     background: linear-gradient(90deg, rgba(45,2,130,1) 26%, rgba(210,27,176,1) 100%); 
     padding: 1rem 2.5rem ;
     border-radius: 20px;
     -webkit-box-shadow: 3px 27px 40px -9px rgba(0,0,0,0.75);
     -moz-box-shadow: 3px 27px 40px -9px rgba(0,0,0,0.75);
     box-shadow: 3px 27px 40px -9px rgba(0,0,0,0.75);
     transition-property: all;
     transition-duration: 0;
     transition-timing-function: linear;
    
}
.nav-bar:hover{
    -webkit-box-shadow: 4px 17px 55px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 17px 55px 12px rgba(0,0,0,0.75);
    box-shadow: 4px 17px 55px 12px rgba(0,0,0,0.75);
}
.final-logo{
    height: 100px ;
    width: 100px;
    position: relative ; 
    top: 0%;
   
}
.nav-items{
    display: inline-block;
    margin-left: 3.5rem;
    
    text-transform: capitalize;
}
.nav-links{
    color : #fff ;
}
.nav-links:hover{
    color : #fff ;
    text-transform: capitalize;
    text-decoration: none;
}
.home-main-section{
   padding: 2rem;
  
}
.home-main-inner{
    display : flex ;
    justify-content: center;
    align-items: center;
}
.home-main-inner div{
    text-align: center;
    z-index: 2;
}
.i-write-code{
    color: #fff;
     text-transform: uppercase ;
     font-weight: 400;
     font-size: 1.5rem;
}
.my-name{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
     font-size: 3.5rem;
}
.improving-text{
    margin-bottom: 2.5rem;
    text-transform: capitalize;
    color: #fff;
    position: relative ;
    left: 25%;
    font-size: 1rem;
}
.about-me-link{
   
    text-transform: uppercase ;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    background: rgb(45,2,130);
    background: linear-gradient(90deg, rgba(45,2,130,1) 11%, rgba(210,27,176,1) 100%);
    -webkit-box-shadow: 3px 31px 44px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 31px 44px -4px rgba(0,0,0,0.75);
box-shadow: 3px 31px 44px -4px rgba(0,0,0,0.75);

}
.about-me-link:hover{
    color: #fff;
    text-decoration: none;
   
}
.image-1-large{
    position: absolute; 
    top: 20% ;
    right: 10%;
    height: 100px;
    width: 100px;
    opacity: .5;
    animation: scaleTransform1 5s linear  infinite backwards ;
}
 .image-4-xlarge{
     position: absolute;
     top : 20%; 
     left: 10% ;
     opacity: .3;
     animation: scaleTransform1 5s  1s linear  infinite backwards ;
 }
.image-2-small{
    position: absolute; 
    top: 40% ;
    right: 20%;
    height: 80px;
    width: 80px;
    opacity: .3;
    animation: scaleTransform1 5s  1s linear  infinite backwards ;
}
.image-3-xsmall{
    position: absolute; 
    top: 80% ;
    right: 10%;
    height: 50px;
    width: 50px;
    opacity: .5;
    animation: scaleTransform1 5s 2s linear  infinite backwards ;
}

@keyframes scaleTransform1{
    0%{
      transform: scale(1,1);
    }
    50%{
     transform: scale(1.4,1.4);
    }
    100%{
       transform: scale(1,1);
    }
    
}
.bg-graphic{
   height: 100%;
   width: 100%;
}


@media(max-width : 950px){
    .main-header{
        background: rgb(45,2,130);
        background: linear-gradient(90deg, rgba(45,2,130,1) 57%, rgba(210,27,176,1) 100%);
        -webkit-box-shadow: 2px 17px 35px -3px rgba(0,0,0,0.52);
        -moz-box-shadow: 2px 17px 35px -3px rgba(0,0,0,0.52);
        box-shadow: 2px 17px 35px -3px rgba(0,0,0,0.52);
    }
   .main-header-inner{
       width: 70% ;
       margin: auto;
   }
   .final-logo{
       position: static;
   }
   .nav-bar{
       position: static;
       display: none;
   }
   .home-main-section{
   
    margin: 0;
    padding: 3rem 0;
   
 }
 .i-write-code{
     color: #fff;
     text-transform: lowercase ;
     font-weight: 200;
     font-size: 1rem;
     padding: 0;
     margin: 0;
}
.my-name{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
     font-size: 2.5rem;
     padding: 0;
     margin: 0;
}
.improving-text{
   
    text-transform: capitalize;
    color: #fff;
    position: relative ;
    left: 15%;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    margin-bottom: 2.5rem;
}
.about-me-link{
   
    text-transform: uppercase ;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    background: rgb(45,2,130);
    background: linear-gradient(90deg, rgba(45,2,130,1) 11%, rgba(210,27,176,1) 100%);
    -webkit-box-shadow: 3px 31px 44px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 31px 44px -4px rgba(0,0,0,0.75);
box-shadow: 3px 31px 44px -4px rgba(0,0,0,0.75);

}
.home-main-inner{
    display :block ;
}
.home-main-inner > div{
    text-align: center;
    z-index: 2;
    box-sizing: border-box;
}
 .content-container{
     margin-top: 3.5rem;
 }
}