
body
{
    background-color:rgb(6, 43, 145);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}
.container
{
    width: 40%;
    margin: auto;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    grid-gap: 5px;
}
.container div
{
  position: relative;
  border: .5px solid black;
}
.front
{
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    display: none;
    display: block;
}
.back
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 90%;
    width: 100%;
}
.rotate
{
    animation-name: myanim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes myanim
{
    0%
    {
     transform: rotateY(0deg)
    }
    100%
    {
          transform: rotateY(180deg)
    }
}
.backrotate
{
    animation: backanimation 1s  linear  forwards;
}
@keyframes backanimation
{
    0%
    {
        transform: rotateY(180deg)
    }
    100%
    {
        transform: rotateY(0deg)
    }
}
.container div img
{
    height: 100%;
    width: 100%;
}
#main-title
{
    text-align:center;
    font-size: 50px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#swipe-info
{
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#gameover-overlay
{
 height: 70%;
 width: 50%;
 position: absolute;
 background-color: #000;
 top: 20%;
 left: 25%;
 z-index: 1;
 opacity: 0.98;
 border-radius: 10px;
 text-align: center;
 display: none;
}
#gameover-overlay h1{
    color: #fff;
    text-align: center;
    margin-top:100px;
    font-size: 50px;
}
#gameover-overlay button{
    padding: 10px 30px;
  background-color: rgb(6, 43, 145);
  color: #fff;
  border: none;
}

@media(max-width: 500px){
    body
    {
        margin-top: 50px;
    }
    #main-title
    {
     font-size: 2rem;
      margin-top: 20px;
    }
    .container
    {
        width: 80%;
        margin: auto;
        height: 200px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 30px;
        grid-gap: 5px;
    }
    #gameover-overlay
    {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #000;
        top: 0%;
        left: 0%;
        z-index: 1;
        opacity: 0.98;
        border-radius: 10px;
        text-align: center;
        display: none;
    }
    .#swipe-info
    {
        text-align: center;
        color: #fff;
        font-size: .8rem;
        font-family: Arial, Helvetica, sans-serif;
    }
}

