.contact-head-text{
    opacity: 0;
    position: absolute ;
    display: inline-block;
    text-transform: uppercase; 
    top: 30%; 
    left: 10%; 
    color: #000 ;
    font-size: 6rem ;
    font-weight: bolder ;
    animation: myanim .5s linear 1s 1 forwards;
}

@keyframes myanim{
    0%{
    opacity: 0;
    }
    50%{
    opacity: .5;
    }
    100%{
   opacity: 1 ;
    }
}
.contact-section-container{
 display: grid ;
 grid-template-columns: 1fr 1fr ;
 padding: 3rem 3rem ;
}
.contact-form{
    height: 100%; 
    width: 100%; 
    padding: 10px 2rem ;
}
.contact-field-wrapper{
    padding: 1rem 0 ;
}

.contact-form-field{
    display: block;
    width: 50%; 
    outline: none ;
    padding: 10px 0 ;
}
.message-field{
    height: 100px; 
}
.contact-field-wrapper > span{
    color : #999 ;
    text-transform: capitalize ;
    font-size: 1rem ;
}
.form-submit-btn{
    cursor: pointer ;
    font-size: 1.5rem ;
    text-transform: capitalize; 
    border-radius: 5px; 
    border: none ;
    background-color:  rgb(107, 212, 253) ; 
    color: #fff ;
    padding: 10px 1rem ;
}

@media(max-width : 768px ){
    .contact-head-text{
        font-size: 4rem ;
    }
    .contact-section-container{
        display: grid ;
        grid-template-columns: 1fr ;
        padding: 3rem 3rem ;
       }
       .contact-form-field{
        display: block;
        width: 100%; 
        outline: none ;
    }
    .contact-form{
        height: 100%; 
        width: 100%; 
        padding: 10px  0 ;
    }
}