html{
    scroll-behavior: smooth ;
}
body{
    width: 100%; 
    margin: 0; 
    padding: 0 ;
    font-family: 'Muli', sans-serif;
}
.main-header{
    height: 100vh ;
    background: url(https://uicookies.com/demo/theme/trainer/img/about_me.jpg) no-repeat ;
    background-position: 0px -70px;
    background-size: cover ; 

}
.navbar-container{
    width: 100%; 
    background: rgba( 0, 0,0, .2) ;
    transition-property: all; 
    transition-duration: .3s ;
    transition-timing-function: linear; 
}
.navbar-container:hover{
    background: rgba( 0, 0,0, .7) ;
}
.navbar{
    padding: 20px 0 ;
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr ;
    grid-gap: 10px; 
    position: relative;
    width: 90%;
    margin: auto ;
}
.menu-link-list{
    display: inline;
    text-align: center; 
    padding:  0; 
    list-style-type: none; 
   
}
.menu-link-list li{
    display: inline;
    margin-right: 15px; 
}
.menu-link-list li a{
    text-transform: uppercase; 
    text-decoration: none; 
    color: #fff; 
    font-size: 12px ;
    font-weight: 200 ;
    padding: .5rem  0;
}
.menu-link-list li a:hover{
   border-bottom: 1px solid #fff; 
}



.social-links-list{
    display: inline; 
    text-align: center;
    padding:  0 ;
    list-style-type: none; 
   
}
.social-links-list li{
  display: inline; 
  margin-right: 15px; 
}
.social-links-list li a{
    font-size : 1rem ;
    text-decoration: none; 
    color: #fff; 
    font-weight: 200 ;
}
.site-logo{
    font-size: 1.5rem ; 
    text-decoration: none;  
    font-weight: 1000 ; 
    color: #fff;
    text-transform: uppercase; 
    padding-top: 5px; 
}



footer{
    padding: 70px 40px; 
    background-color:  rgb(107, 212, 253) ;
   }
   .time-and-contact{
       padding: 20px 40px; 
       display: grid;
       grid-template-columns: 1fr 1fr ;
       border-bottom: 1px solid #ccc ;
   }
   .gym-timing-info{
       text-align: center;
   }
   .gym-timing-info  h1{
   text-transform: capitalize; 
   font-weight: 100 ;
   color: #fff ;
   }
   .gym-timing-info p{
   color: #eee ;
   text-transform: capitalize; 
   }
   .gym-hour{
       font-size: 2rem ;
       color: #fff !important; 
       font-weight: bolder; 
   }
   .contact-info  p,h1{
    color: #fff ;
    text-transform: capitalize; 
   }
   
   .myad{
       text-align: center ;
       text-transform: capitalize;
       color: #fff; 
   }
   .myname{
       font-size: 1.5rem ;
       color: #eee;
   }

   .active{
       border-bottom: 1px solid #fff ;
   }

   .scroll-down-text{
       position: absolute;
       top : 90% ;
       left: 50% ;
       color : #ddd ;
       font-size: 1.3rem ;
       text-transform: capitalize; 
       text-decoration: none;  
   }

   .scroll-hide{
       animation: scrollAnim .7s linear 1 forwards;
   }
   @keyframes scrollAnim{
       0%{
            top: 90% ;
            opacity : 1 ;
       }
       50%{
     top: 95% ;
     opacity: .5;
       }
       100%{
        top: 100% ;
      opacity: 0;
      display: none; 
       }
   }

   .arrow-up{ 
       background-color: #fff ;
       text-decoration: none ;
        color:  rgb(107, 212, 253) ; 
        border-radius: 50%; 
        padding: 1rem 1rem ;
   }



   /* responsiveness */


   .menuvisible{
     display: block !important ;
   }
 .hide-menu{
     display: none ;
     position: absolute ; 
     top : 5% ;
     right : 5% ;
     cursor : pointer ;
     background: transparent ;
     font-size: 20px; 
     color: #FFf ;
     border: none ;
     outline: none ;
     
 }
 .responsive_menu_btn{
     display: none ;
 }
/* Adding Media queries . */
@media(max-width : 760px)
{
      .menu-link-list
          {
         display: none; 
          position: fixed; 
          right:   0;
          top : 0 ;
          height: 100vh  ;
          z-index: 999 ;
          margin: 0 ;
          padding:  0;
          background : rgba(0,0,0) ;
          padding: 100px 100px; 
          }
       .menu-link-list li
        {
        display: block ; 
        margin-bottom: 50px; 
        
        }  
    .social-links-list
    {
        display: none ;
    }
    .active
       {
        color: red ;    
       border-bottom : none ;
       }
    .menu-link-list li a:hover
    {
    color: aqua;
    border-bottom: none ;
    }

    .responsive_menu_btn{
        display: block ;
        position: absolute ; 
        right:  0;
        margin-top: 30px; 
        cursor: pointer ;
        border: none ;
        background-color: transparent;
        color: #fff ;
        outline: none ;
        font-size: 20px; 
    }
    .hide-menu{
        display: block ;
    }
    .time-and-contact{
        padding: 20px 40px; 
        display: grid;
        grid-template-columns: 1fr  ;
        border-bottom: 1px solid #ccc ;
    }
      .contact-info {
        text-align: center ;
      }
   
}
