body{
    width: 100%; 
    margin: 0; 
    padding: 0 ;
    font-family: 'Muli', sans-serif;
}
.main-header{
    height: 100vh ;
    background: url(https://uicookies.com/demo/theme/trainer/img/about_me.jpg) no-repeat ;
    background-position: 0px -70px;
    background-size: cover ; 

}
.navbar-container{
    width: 100%; 
    background: rgba( 0, 0,0, .2) ;
    transition-property: all; 
    transition-duration: .3s ;
    transition-timing-function: linear; 
}
.navbar-container:hover{
    background: rgba( 0, 0,0, .7) ;
}
.navbar{
    padding: 20px 0 ;
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr ;
    grid-gap: 10px; 
    position: relative;
    width: 90%;
    margin: auto ;
}
.menu-link-list{
    display: inline;
    text-align: center; 
    padding:  0; 
    list-style-type: none; 
   
}
.menu-link-list li{
    display: inline; 
    margin-right: 15px; 
}
.menu-link-list li a{
    text-transform: uppercase; 
    text-decoration: none; 
    color: #fff; 
    font-size: 12px ;
    font-weight: 200 ;
}
.social-links-list{
    display: inline; 
    text-align: center;
    padding:  0 ;
    list-style-type: none; 
   
}
.social-links-list li{
  display: inline; 
  margin-right: 15px; 
}
.social-links-list li a{
    font-size : 1rem ;
    text-decoration: none; 
    color: #fff; 
    font-weight: 200 ;
}
.site-logo{
    font-size: 1.5rem ; 
    text-decoration: none;  
    font-weight: 1000 ; 
    color: #fff;
    text-transform: uppercase; 
    padding-top: 5px; 
}

.trainer-name-container{
    position: absolute;
    bottom: 0;
    left: 10%;
    display: inline-block; 
    opacity: 0;
    animation: trainerAnim .5s linear 1s 1 forwards 
}
@keyframes trainerAnim{
  0%{
    opacity: 0;
  }
  50%{
  opacity: .5;
  }
  100%{
   opacity: 1;
  }

}

.firstname{
 color: #000;
 text-transform: uppercase;
 font-size: 6rem ;
 font-weight: 50 ;
 display: block;
}
.lastname{
color: #000;
text-transform: uppercase; 
font-size: 6rem ;
font-weight: bolder;
}
.about-section{
    display: grid; 
    grid-template-columns: 1fr 1fr ;
    padding: 50px 70px; 
}
.trainer-image{
    height: 400px; 
    width: 400px ;
}
.aboutme-text{
 text-transform: uppercase ;
 font-size: 2.5rem;
}
.aboutme-para1{
text-transform: capitalize; 
line-height: 30px;
color: #999 ;
}
.aboutme-para2{
    text-transform: capitalize; 
    line-height: 30px;
    color: #999 ;
}
.read-abtme-btn{
cursor: pointer ; 
padding: 10px 15px; 
text-transform: capitalize; 
border-radius: 5px; 
background-color: rgb(160, 228, 255);
border : none ;
transition-property: all ;
transition-duration: .3s ;
color: #fff ;
}

.read-abtme-btn:hover{
    background-color: rgb(107, 212, 253);
}

.mygrid-1{
    display: grid ; 
    grid-gap: 20px; 
    padding: 30px 70px; 
    grid-template-columns: 2fr 2fr 2fr ;
}
.myimage-1{
    height: 70px; 
    width: 70px;
    border-radius: 5px; 
}
.mylist-1{
    list-style-type: none; 
    padding:  0;
}
.mylink-1{
    text-decoration: none; 
    display: grid; 
    grid-template-columns: 30% 70% ;
     margin-bottom: 20px;
    grid-gap: 0px;
}

.myhead-1{
 color: #000 ;
 text-transform : capitalize;
}
.mypara-1{
 line-height: 2.5rem ;
 color: #999 ;
}
.special-date{
    color: #999 ;
}
.special-para{
   font-weight: bolder ;
    color: #000 ;
}
.myprograms-section{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr  ; 
    grid-gap: 50px;
    padding: 50px 30px;
}
.program-image{
    height: 200px; 
    width: 100%; 
    border-radius: 10px; 
}
.program-head{
  text-transform: capitalize; 
  font-weight: bolder; 
  font-size: 3rem ;
  color: #000 ;
}
.program-text{
  color: #999 ;
  text-transform: capitalize; 
}
.program-section{
    padding: 20px 40px; 
}
.program-head , .program-text{
     margin: 0;
     padding: 0;
}

.program-name{
  text-align: center;
  font-weight: bolder ;
  text-transform: capitalize ; 
}
.program-description{
    line-height: 1.5rem ;
    color: #999 ;
}

footer{
 padding: 70px 40px; 
 background-color:  rgb(107, 212, 253) ;
}
.time-and-contact{
    padding: 20px 40px; 
    display: grid;
    grid-template-columns: 1fr 1fr ;
    border-bottom: 1px solid #ccc ;
}
.gym-timing-info{
    text-align: center;
}
.gym-timing-info h1{
text-transform: capitalize; 
font-weight: 100 ;
color: #fff ;
}
.gym-timing-info p{
color: #eee ;
text-transform: capitalize; 
}
.gym-hour{
    font-size: 2rem ;
    color: #fff !important; 
    font-weight: bolder; 
}
.contact-info p,h1{
 color: #fff ;
 text-transform: capitalize; 
}

.myad{
    text-align: center ;
    text-transform: capitalize;
    color: #fff; 
}
.myname{
    font-size: 1.5rem ;
    color: #eee;
}



/* Home page media queries  */
@media(max-width : 760px){
  .trainer-name-container{
      position: static ;
      margin-top: 20px; 
      margin-left: 20px; 
  }
  .firstname{
    font-size: 4rem ;
  }
  .lastname{
   font-size: 4rem ;
  }
   
  .about-section{
    display: grid; 
    grid-template-columns: 1fr;
    padding: 30px 0  ;
}
 
.mygrid-1{
    display: grid ; 
    grid-gap: 20px; 
    padding: 30px 70px; 
    grid-template-columns: 1fr ;
}
  .myprograms-section{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-gap: 50px;
    padding: 50px 30px;
   }
   .time-and-contact{
    padding: 20px 40px; 
    display: grid;
    grid-template-columns: 1fr ;
    border-bottom: 1px solid #ccc ;
}
}