.contact_showcase{
    background: url(../images/serviceShowcase.jpg) center center  no-repeat;
    background-size: cover;
   width: 100%;
   padding: 30px 0px;
}
.contact_showcase h1{
   text-align: center;
   text-transform: capitalize;
   color: #fff;
}
.contact_showcase p{
   text-align: center;
   color: #bbb;
}

.contact_container{
    width: 70%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 10px;
}
.contact_address{
    border: 1px solid #eee;
}
.contact_address h5{
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
}
.contact_address p{
    text-align: center;
    color: #777;
    font-size: 12px;
}
.contact_form{
    border: 1px solid #eee;
    padding: 0px 30px;
}
.contact_form h3{
    font-size: 25px;
}
.contact_form form{
    padding: 20px 0px;
}
.contact_form form *{
  display: block;
  width: 100%;
margin-bottom: 10px;
}
.contact_form form input{
    font-size: 13px;
}
.contact_form form button{
    border-radius: 5px;
    border: 1px solid #E84342;
    color: #E84342;
    cursor: pointer;
    background-color: transparent;
}
.team_section{
    padding: 30px 0px;
}
.team_container{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.team_container div img{
    width: 100%;
    height: 100px;
}
.team_container div h5{
  text-align: center;
  color: #fff;
}
.team_container div p{
   text-align: center;
   color: #aaa;
}
@media(max-width: 700px){
    .contact_showcase h1{
        text-align: center;
        text-transform: capitalize;
        color: #fff;
     }
     .contact_showcase p{
        text-align: center;
        color: #bbb;
        font-size: 13px;
        width: 70%;
        margin: auto;
     } 
     .contact_container{
        width: 90%;
        margin: 50px auto;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 10px;
    }
    .team_container{
        width: 40%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}