.about_text{

    background: url(../images/about_textbg.jpg) center center no-repeat;
    background-size: cover;
    padding: 30px 0px;
}
.about_text h3{
     text-align: center;
     color: #fff;
}
.about_text p{
    text-align: center;
    color: #bbb;
    text-transform: capitalize;
}
.about_us{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}
.about_us div h3{
  font-weight: bolder;
}
.about_us div p{
    font-size: 13px;
    color: #444;
}
.about_us img{
    position: relative;
    bottom: 30px;
    border-radius: 50%;
    height: 350px;
    width: 350px;
     border: 2px solid #343a40;
}

.about_us_containers{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.about_us_containers div {
       display: flex;
       flex-direction: column;
       padding-top: 10px;
}
.about_us_containers div *{
    align-self: center;
}
.about_us_containers div i{
    color: #fff;
    font-weight: bolder;
    font-size: 14px;
}
.about_us_containers div h3{
    text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bolder
}
.about_us_containers div p{
    text-align: center;
  color: #fff;
  font-size: 12px;
}
.carousel_container{
    width: 100%;
    margin-top: 40px;
}
.carousel_title{
    text-align: center;
    color: #fff;
}
.carousel{
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
}
.carousel-item h5{
    text-align: center;
    color: #fff;
    width: 70%;
    margin: auto;
    font-size: 13px;
}
.carousel-item p{
    text-align: center;
    color: #ccc;
    width: 70%;
    margin: auto;
    font-size: 10px;
}
.st_line{
    width: 1rem;
}


/* media queries  */

@media(max-width: 700px){
    .about_us{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
    }
    .about_us div{
        width: 80%;
        margin: auto;
        padding: 20px 0px;
    }
    .about_us img{
        margin: 30px 0px;
        border-radius: 50%;
        height: 250px;
        width: 100%;
        border: 2px solid #343a40;
    }
    .about_us_containers{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
    .carousel{
        width: 90%;
        margin: auto;
        padding-bottom: 30px;
    }
}