/* In this file i will write the code for the navigation bar and for the footer because the navbar and footer will be used in all html pages */
body{
    font-family: sans-serif;
}
.navbar-brand{
    color: #fff !important;
}


.navbar-nav .nav-item .nav-link{
    color: #f8f9fa !important; 
    font-size: 13px;
}

footer{
    padding: 20px 0px;
    background-color: #000;
}
footer p{
    text-align: center;
    color: #ddd;
    padding: 0;
    margin: 0;
}
